<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Site Settings</title>
</head>
<body>
    <a href="/organiser">Back to Organiser Home</a>
    <h1>Site Settings</h1>
    <% if (viewModel.error) { %>
        <p style="color: red;"><%= viewModel.error.message %></p>
    <% } else { %>
    <form action="/organiser/site-settings" method="post">
        <p>Site Name: <input id="siteName" type="text" name="siteName" value="<%= viewModel.siteSettings.siteName %>" required /></p>
        <p>Site Description: <input id="siteDescription" type="text" name="siteDescription" value="<%= viewModel.siteSettings.siteDescription %>" required /></p>
            <button type="submit">Save</button>
        </form>
    <% } %>
</body>
</html>